*.egg*
*.log
*.py[cod]
*.so
*.sw[op]
*venv/
.*_cache/
.coverage*
.DS_Store
.idea/
.vscode/
/public/
/site/
/temp/
/tmp/
Thumbs.db
__pycache__/
build/
dist/
docs/
env/
htmlcov/
*.seq
*.json
*.jsonc
tmp/
temp/
examples/output/